# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Toci.Wolf.Dal.Nfs.Interfaces/.vs/Toci.Wolf/v16/Server/sqlite3
/Toci.Rescue/Toci.Rescue/obj
/Toci.Rescue/Toci.Rescue.Tests/bin/Debug/net5.0
/Toci.Wolf.Dal.Nfs.Interfaces
